@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply antialiased text-gray-900 dark:text-gray-100 bg-white dark:bg-slate-950;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-slate-700 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-slate-600;
  }
}
